body {
    text-align: center;
    background-color: #f4f4f4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    padding-top: 100px;
    font-size: 100px;
}

input[type="text"] {
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

button {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    padding: 25px;
    background-color: bisque;
    font-size: 20px;
    border-radius: 10px;
}
